@import "../../../styles/variables";

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;

  h2,
  h3,
  h4 {
    margin: 0;
  }

  h2 {
    font-size: $middle-title-size;
    color: $main-blue-color;
  }

  h3 {
    font-size: $middle-text-size;
  }

  h4 {
    font-size: $middle-text-size;
    color: $main-blue-color;
  }
}

.palette {
  display: flex;
  gap: 5px;

  span {
    width: 20px;
    height: 20px;
  }
}
