$main-base-color: #000;
$main-blue-color: #6781C6;
$main-red-color: #FF7D76;

$card-border: lighten($main-blue-color, 30%);
$disabled-color: lighten($main-base-color, 85%);

$main-text-color: $main-base-color;
$light-text-color: lighten($main-base-color, 25%);
$main-blue-text-color: $main-blue-color;
$light-blue-text-color: lighten($main-blue-color, 25%);

$large-title-size: 3.2rem; // 48
$middle-title-size: 2rem; // 30
$small-title-size: 1.7rem; // 25
$middle-text-size: 1.35rem; // 20
$small-text-size: 1.1rem; // 16