@import "../../../styles/variables";

.component {
  display: flex;
  cursor: pointer;
  gap: 6px;
  padding: 20px;
  border-radius: 20px;
  border: none;
  font-size: $middle-text-size;
  background-color: lighten($main-blue-color, 38%);
  width: 100%;

  &:hover {
    transition: background-color ease 0.3s;
    color: $main-blue-color;
  }
}

.active {
  background-color: $main-blue-color;
  color: #fff;
  stroke: #fff;

  &:hover {
    color: #fff;
    stroke: #fff;
  }
}

@media (max-width: 750px) {
  .component {
    border-radius: 1.2rem;
    padding: 1.3rem;
  }
}