.container {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  width: 80vw;
  max-width: 400px;

  .bar {
    display: inherit;
    gap: inherit;
  }
}

.link {
  text-decoration: none;
  width: 100%;
}

.share {
  display: flex;
  gap: 14px;
}

.downloadIcon {
  transition: transform 300ms ease;
}

.downloadButton:hover {
  .downloadIcon {
    transform: translateY(10px);
  }
}

.shareIcon {
  transition: transform 300ms ease;
}

.shareButton:hover {
  .shareIcon {
    transform: translateY(-10px);
  }
}

@media (min-width: 480px) {
  .container,
  .bar {
    gap: 20px;
  }
}
