.container {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  width: 80vw;
  max-width: 400px;

  .bar {
    display: inherit;
    gap: inherit;
  }
}

.link {
  text-decoration: none;
  width: 100%;
}

.share {
  display: flex;
  gap: 14px;
}

@media (min-width: 480px) {
  .container,
  .bar {
    gap: 20px;
  }
}
