html {
  font-size: 15px;
}

body {
  margin: 0;
  font-family: 'Mulish',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

@media (max-width: 480px) {
  html {
    font-size: 3.15vw;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  display: flex;
  height: 100%;
}

iframe {
  display: none;
}

* {
  box-sizing: border-box;
}
